.recommendedVideos {
    flex: .8;
    background-color: #f4f7f6;
    padding: 20px 20px 0 20px;
}

.recommendedVideos > h2 {
    margin-left: 5px;
    margin-bottom: 20px;
}

.recommendedVideos__videos {
    display: flex;
    flex-wrap: wrap;
}